*{
    margin: 0;
}
.grid-container{
    display: grid;
    height: 100vh;
    grid-template-columns: 60% 40%;
    grid-template-rows: 4% 40% 34% 10% 12%;
    grid-template-areas:
    "header header"
    "main aside-top"
    "main aside-bottom"
    "section section"
    "footer footer";
}
header{
    grid-area: header;
    background: #D9D9D9;
}
main{
    grid-area: main;
    background: #A4A4A4;
}
.aside-top{
    grid-area: aside-top;
    background: #7F7A7A;
}
.aside-bottom{
    grid-area: aside-bottom;
    background: #615050;
}
section{
    grid-area: section;
    background: #D9D9D9;
}
footer{
    grid-area: footer;
    background: #AFA9A9;
}