@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    margin: 0;
    font-family: 'Inter', sans-serif;
}
.grid-container{
    display: grid;
    height: 100vh;
    grid-template-columns: 73% 27%;
    grid-template-rows: 20% 20% 10% 10% 20% 20%;
    grid-template-areas:
    "header header"
    "section-top aside-top"
    "section-middle aside-top"
    "section-middle aside-bottom"
    "section-bottom aside-bottom"
    "footer footer";
}
header{
    grid-area: header;
    background: #8D8484;
}
.section-top{
    grid-area: section-top;
    background: #776969;
}

.section-middle{
    grid-area: section-middle;
    background: #643030;
}
.section-bottom{
    grid-area: section-bottom;
    background: #441818;
}
.aside-top{
    grid-area: aside-top;
    background: #937575;
}
.aside-bottom{
    grid-area: aside-bottom;
    background: #644C4C;
}
footer{
    grid-area: footer;
    background: #BDBDBD;
}

header p, footer p{
    color: #000;
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
section p, aside p{
    color: #FFF;
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
header, section, aside, footer{
    display: flex;
    justify-content: center;
    align-items: center;
}