*{
    margin: 0;
}
.grid-container{
    display: grid;
    height: 100vh;
    grid-template-columns: 27% 46% 27%;
    grid-template-rows: 22% 26% 30% 22%;
    grid-template-areas:
    "header header header"
    "l-aside main-top r-aside"
    "l-aside main-bottom r-aside"
    "footer footer footer";
;
}
header{
    grid-area: header;
    background: #D9D9D9;
}
.l-aside{
    grid-area: l-aside;
    background: #C0BDBD;
}
.main-top{
    grid-area: main-top;
    background: #827878;
}
.main-bottom{
    grid-area: main-bottom;
    background: #B7ADAD;
}
.r-aside{
    grid-area: r-aside;
    background: #C0BDBD;
}
footer{
    grid-area: footer;
    background: #D9D9D9;
}