@media screen and (max-width: 480px){
    .wrapper{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-wrap: wrap;
        padding: 32px 16px;
        gap: 40px;
    }
    .wrapper div{
         width: 100%;
     }
    .wrapper div img{
        width: 100%
    }
}