@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body{
    font-family: 'Inter', sans-serif;
}
.wrapper{
    padding: 64px 0;
    width: 1180px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 64px 32px ;
    flex-wrap: wrap;
}
.wrapper div{
    text-align: center;
    /*margin: 0 16px 64px 16px;*/
}
.wrapper h3{
    color: #000;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 24px */
    margin: 20px 0 15px 0;
}
.wrapper p{
    color: #3C3C43;
    text-align: center;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 15.6px */
    letter-spacing: 1.5px;
    text-transform: uppercase;
}
.wrapper img{
    width: 100%;
}
