
body{
    margin: 2%;
}
header{
    height: 60vh;
    background-color: cornflowerblue;
}
.wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 0;
}
section{
    height: 50vh;
    width: 32%;
    background-color: #305eaf;
}
footer{
    height: 90vh;
    background-color: cornflowerblue;
}
header, section, footer{
    color: white;
    font-size: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
}